<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <article>
            <section>
                <h1>Who we are</h1>
                <p>Node Banking is a state of the art online banking platform with the most innovative features that provides the best user experience you have ever seen in any other banking app</p>

                <img src="https://kanbanzone.com/wp-content/uploads/2020/10/team-meeting.jpg" alt="">
            </section>
            <section>
                <h1>Our Mission</h1>
                <p>
                    Our mission is to empower you with the convenience and security you deserve in managing your finances. With a strong foundation built on trust and innovation, we offer a seamless and user-friendly platform that puts you in control of your money, no matter where you are.
                </p>
                <img src="https://media.istockphoto.com/id/1150691598/photo/businessman-sitting-in-cafe-looking-at-tablet-during-phone-call-through-wireless-headphones.jpg?s=612x612&w=0&k=20&c=sXwk_fshZLVDpAL1flmMePQj_h6lF0bKZH8aoaygAQ4=" alt="">
            </section>
            <section>
                <h1>Our Team</h1>
                <p>
                    Our team of dedicated professionals is committed to your financial success. We prioritize the security of your data and transactions, ensuring that your information remains protected at all times. We're always listening to your feedback, constantly improving our services to better serve you.
                </p>
                <img src="https://a.storyblok.com/f/86602/1290x668/8e49a37226/top-developers.jpg" alt="">
            </section>
        </article>
    </main>
</body>
</html>